{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craft Ping Siteimprove plugin for Craft CMS 3.x
 *
 * Craft Ping Siteimprove index.twig
 *
 * @author    tripleNERDscore
 * @copyright Copyright (c) 2019 tripleNERDscore
 * @link      triplenerdscore.net
 * @package   CraftPingSiteimprove
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("triplenerdscore\\craftpingsiteimprove\\assetbundles\\siteimprovecpsection\\CraftPingSiteimproveAsset") %}
{% do view.registerAssetBundle("triplenerdscore\\craftpingsiteimprove\\assetbundles\\siteimprovecpsection\\SiteImproveCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/dougblackjr/craft-ping-siteimprove/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Craft Ping Siteimprove" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('craft-ping-siteimprove') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@triplenerdscore/craftpingsiteimprove/assetbundles/siteimprovecpsection/dist', true) ~ '/img/SiteImprove-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('craft-ping-siteimprove') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "SiteImprove CP Section body goes here"|t('craft-ping-siteimprove') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
